## Classification avec sklearn-learn

## Importation des données

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Préprocessing

In [3]:
titanic = df[['Survived', 'Pclass', 'Sex', 'Age']]
titanic.dropna(axis=0, inplace=True)
titanic['Sex'].replace(['male', 'female'], [0, 1], inplace=True)
titanic.head()

<ipython-input-3-886b56f99e86>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  titanic.dropna(axis=0, inplace=True)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4563: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

   Survived  Pclass  Sex   Age
0         0       3    0  34.5
1         1       3    1  47.0
2         0       2    0  62.0
3         0       3    0  27.0
4         1       3    1  22.0

In [5]:
x = titanic.drop(['Survived'], axis=1)
y = titanic['Survived']

## KNeighborsClassifier

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
model = KNeighborsClassifier()
model.fit(x, y)
model.score(x, y)

0.9337349397590361

In [19]:
def survie(model, pclass=1, sex=0, age=27):
    test = np.array([pclass, sex, age]).reshape(1, 3)
    y_pred = model.predict(test)
    print(y_pred)
    print(model.predict_proba(test))

In [20]:
survie(model)

[0]
[[0.6 0.4]]